body {
    background-color: #39A9F1;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0auto;
    text-align: center;
}
h1 {
    font-size: 80px;
    margin-top: 100px;
}
.quote {
    font-size: 40px;
    margin-top: 150px;
}
.author {
    font-size: 40px;
}
.trigger {
    width: 400px;
    height: 50px;
    margin-bottom: 50px;
    background-color: #39a9f1;
    color: #ffffff;
    font-size: 25px;
    border-radius: 5px;
}
.tweetit {
    width: 400px;
    height:50px;
    background-color: #39a9f1;
    color: #ffffff;
    font-size: 25px;
    border-radius: 5px;
    text-decoration: none;
}
.fa fa-twitter {
    color: white;
}
a:link { 
    color:white;
     text-decoration: none; 
    }

a:visited { 
    color: white; 
    text-decoration: none; 
}