@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	box-sizing: border-box;
    background-color: hsl(195, 4%, 78%);
    font-family: 'Roboto', sans-serif;
    color: black;
	text-align: center;
}
h1 {   
    font-size: 60px;	
}
h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

#search {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid black;
    
}
#saerch:hover {
    background-color: #666666;
    color: #fff;
}
#country-name {
    width: 200px;
    height: 35px;
}
main {
	text-align: center;
	height: 100vh;
}
ul {
	list-style: none;
}

ul {
	padding: 0;
}
